{% load static %}

<div class="question">
    <div class="row">
        <div class="col-2">
            <img alt="" class="question-image" src="{% static '/img/css_ava.svg' %} ">
        </div>
        <div class="col-10">
            <div class="question-title">
                <a href="{% url 'question' question_id=question.id %}">{{ question.title }} </a>
            </div>
            <div class="question-text">
                {{ question.content }}
            </div>
        </div>
        <div class="g-4 d-flex">
            <div class="col-2">
                <i class="fas fa-arrow-down fa-lg"></i>
                {% if question.get_likes_count > 0 %}
                    <span class="text-success mx-1">{{ question.get_likes_count }}</span>
                {% elif question.get_likes_count < 0 %}
                    <span class="text-danger mx-1">{{ question.get_likes_count }}</span>
                    {% else %}
                    <span class="mx-1">{{ question.get_likes_count }}</span>
                {% endif %}
                <i class="fas fa-arrow-up fa-lg "></i>
            </div>
            <div class="col-2 fs-5"><a href="{% url 'question' question_id=question.id %}">answer ({{ question.get_answers_count }})</a></div>
            <div class="col-5 fs-5 program-lang">
                Tags:
                {% for tag in question.tags.all %}
              <a class="badge bg-primary" id="tag-{{forloop.counter}}" href="{% url 'tag' tag_name=tag.name %}">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>