body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    height: 50px;
    background-color: #eee;
}


.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #f8f9fa;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-brand {
    color: #fd7e14;
    font-weight: bold;
}

.nav-link,
.btn {
    color: #212529;
}

.btn-outline-light {
    color: #fd7e14;
    border-color: #fd7e14;
}

.btn-outline-light:hover {
    background-color: #fd7e14;
    color: #fff;
}

.form-control:focus {
    border-color: #fd7e14;
    box-shadow: 0 0 0 0.25rem rgba(253, 126, 20, 0.25);
}

.avatar {
    width: 60px;
    height: 60px;
}

.question {
    border: 1px solid grey;
    margin-top: 20px !important;
    border-radius: 10px;
    padding: 20px;
}

.question-image {
    width: 100px;
    height: 100px;
}

.question-title {
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    margin-bottom: 10px;
}

.question-image-primary {
    width: 150px;
    height: 150px;
}

.no-padding {
    padding: 0;
    margin: 0;
}

h2 > a {
    text-decoration: none;
    color: black;
}

h2 {
    display: inline;
}

h2 + h2::before {
    content: "|";
    color: black;
    margin-right: 5px;
}

.program-lang > a{
    text-decoration: none;
}
.program-lang {
    line-height: 35px;
}

.item:hover, .item-active:hover {
    color: rgb(128, 128, 128);

}

.item {
    text-decoration: none;
    color: black;
}

.item-active {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.fa-arrow-down:hover {
    color: red;
}

.fa-arrow-up:hover {
    color: green;
}