{% extends 'layouts/base.html' %}
{% load static %}

{% block auth %}
    {% include 'components/auth_on_nav.html' %}
{% endblock auth %}

{% block content %}
<div class="col-8">
    <h2>Log In</h2>
    <div class="row">
        <div class="container">
            <div class="login-form">
                <div class="alert alert-danger w-50 p-2 mt-3" role="alert">
                    Sorry, wrong password!
                </div>
                <form class="mt-4 w-50">
                    <div class="input-group mb-4">
                        <span class="input-group-text">Login</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text">Password</span>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-3">Log In</button>
                </form>
                <a href="">Create a new account</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}