{% extends 'layouts/base.html' %}
{% load static %}

{% block auth %}
    {% include 'components/auth_on_nav.html' %}
{% endblock auth %}

{% block content %}

<div class="question-primary">
    <div class="row">
        <div class="row">
            <div class="col-3">
                <img alt="" class="question-image-primary" src="{% static '/img/css_ava.svg' %}">
            </div>
            <div class="col-9">
                <div class="question-title"><a href=""> {{question.title}} </a></div>
                <div class="question-text">
                    {{ question.content}}
                </div>
            </div>
            <div class="g-4 d-flex">
                <div class="col-3">
                    <button class="btn btn-primary" data-bs-toggle="button" type="button">Like</button>
                </div>
                <div class="col-7 fs-5">Tags: <a href="">shishka</a> <a href="">aboba</a></div>
            </div>
        </div>
        <hr class="bg-dark border-2 border-top border-dark g-3"/>
        {% for comment in comments %}
        {% include 'components/comment-item.html' %}
        {% endfor %}
    </div>
</div>

{% include 'components/paginator.html' with root='question' question_id=question.id%}

{% endblock %}
