{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block auth %}
    {% if user.is_authenticated %}
        {% include 'components/auth_on_nav.html' %}
    {% else %}
        {% include 'components/signup_on_nav.html' %}
    {% endif %}
{% endblock auth %}

{% block content %}
<div class="col-8">
    <h2> New Question</h2>
    <div class="row">
        <form class="mt-2 d-flex flex-column gap-4" method="POST">
            {% csrf_token %}
            {% bootstrap_form ask_form %}
            <button type="submit" class="btn btn-primary col-2 g-3" >Ask</button>
        </form>
    </div>
</div>

{% endblock %}