{% extends 'layouts/base.html' %}
{% load static %}

{% block auth %}
    {% if user.is_authenticated %}
        {% include 'components/auth_on_nav.html' %}
    {% else %}
        {% include 'components/signup_on_nav.html' %}
    {% endif %}
{% endblock auth %}

{% block content %}

<h2><a href="{% url 'index' %}" class="item-active">New Questions</a></h2>
<h2><a href="{% url 'hot' %}" class="item">Hot Questions</a></h2>

{% for question in questions %}

{% include 'components/question-item.html' %}

{% endfor %}

{% include 'components/paginator.html' %}

{% endblock content %}
