{% extends 'layouts/base.html' %}
{% load static %}

{% block auth %}
    {% include 'components/auth_on_nav.html' %}
{% endblock auth %}

{% block content %}

<div class="col-8">
    <h2>Settings: Nikita</h2>
    <form action="" class="col-7 mt-sm-3" method="POST">
        <div class='mb-3'>
            <label class='form-label' for='login'>Login</label>
            <input class='form-control' id='login' type='text' value='Nikita'>
        </div>
        <div class='mb-3'>
            <label class='form-label' for='email'>Settings</label>
            <input class='form-control' id='email' type='email' value='nikita10062004m@gmail.com'>
        </div>
        <div class='mb-3'>
            <label class='form-label' for='nickname'>Nickname</label>
            <input class='form-control' id='nickname' type='text' value='Nikita'>
        </div>
        <div class='mb-3'>
            <label class='form-label' for='avatar'>Upload avatar</label>
            <input class='form-control' id='avatar' type='file'>
        </div>
        <button class="btn btn-primary btn-block mb-3" type="submit">Save</button>
    </form>
</div>

{% endblock %}