{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block auth %}
    {% if user.is_authenticated %}
        {% include 'components/auth_on_nav.html' %}
    {% else %}
        {% include 'components/signup_on_nav.html' %}
    {% endif %}
{% endblock auth %}

{% block content %}

<div class="col-8">
    <h2>Settings: {{ user.username }}</h2>
    <form action="" class="col-7 mt-sm-3" method="POST">
        {% csrf_token %}
        {% bootstrap_form settings_form %}
        <button class="btn btn-primary btn-block mb-3" type="submit">Save</button>
    </form>
</div>

{% endblock %}